[user]
	name = Matthew Clive
	email = arcticlight@arcticlight.me
[push]
	default = simple
[url "git@github.com:ArcticLight/"]
	insteadOf = https://github.com/ArcticLight/
	insteadOf = https://github.com/arcticlight/
	insteadOf = git://github.com/ArcticLight/
	insteadOf = git://github.com/arcticlight/
