[user]
{{- if eq .email "max@corsha.com" "arcticlight@arcticlight.me" }}
	name = Max Clive
{{- else -}}
	name = Matthew Clive
{{- end }}
	email = {{ .email | quote }}
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = false
{{ if eq .email "max@corsha.com" -}}
[url "ssh://git@ssh.github.com/"]
	insteadOf = https://github.com/
	insteadOf = git://github.com/
{{- else -}}
{{- if .login }}
[url "git@github.com:ArcticLight/"]
	insteadOf = https://github.com/ArcticLight/
	insteadOf = https://github.com/arcticlight/
	insteadOf = git://github.com/ArcticLight/
	insteadOf = git://github.com/arcticlight/
{{- end -}}
{{- end -}}
{{- if eq .email "arcticlight@arcticlight.me" }}
[init]
	defaultBranch = main
{{- end }}
