{{- $copy := "" -}}
{{- if .chezmoi.os | eq "darwin" -}}
{{- $copy = "pbcopy" }}
{{- else }}
{{- $copy = "xclip -selection c -i" }}
{{- end -}}
set -g default-terminal "screen-256color"
set-window-option -g mode-keys vi
bind-key -n C-a send-prefix

# Rebind tmux vi-copy to use the command copy-pipe, which
# integrates with the shell to allow copy/paste to go to arbitrary buffers
bind-key -T copy-mode-vi y send -X copy-pipe {{ $copy | quote }} \; display-message "Copied to system clipboard" \; send-keys -X cancel
unbind -T copy-mode-vi Enter
bind-key -T copy-mode-vi Enter send -X copy-pipe {{ $copy | quote }} \; display-message "Copied to system clipboard" \; send-keys -X cancel

# Allow easy reload of tmux-conf on 'r' (when experimenting with settings)
bind r source-file ~/.tmux.conf \; display-message "Reloaded config."

# Don't auto-rename windows
set-option -g allow-rename off

# Allow mouse to toggle copy-mode
setw -g mouse on
# Lower escape timing from 500ms to 50ms for quicker response to scroll buffer access
set -s escape-time 50

# Prettier window tabs
setw -g window-status-format "#[fg=colour8,bg=colour12] #I #[fg=colour8,bg=colour14] #W "
setw -g window-status-current-format "#[fg=colour7,bg=colour0] #I #[fg=white,bg=colour8] #W #F "

# A prettier status bar
set -g status-justify left
set -g status-fg colour0
set -g status-bg default
set -g status-interval 2

set -g status-left '#[fg=colour8,bg=default] #S '
set -g status-right '#[fg=colour15,bg=colour14,bold] %a %d/%m #[fg=colour14,bg=colour15,bold] %I:%M %p '
